@charset "UTF-8";

.header {
    background-color: #ECF0F1;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #737b8a;
}

h1, h2, h3, h4, h5, h6 {
    color: #303030;
}

.container {
    margin-top: 50px;
}

.section_bg {
    background-color: #505050;
}